.view-post-container {
  padding-top: 90px;
}
.view-post-card {
  max-width: 550px;
  margin: 20px auto;
  border: 1px solid #cccc;
}

.top-post-profile {
  display: flex;
  gap: 10px;
}

.top-post-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.top-post-profile-image img {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #cccc;
  clip-path: circle();
}

.top-post-image img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: 50% 50%;
}

.top-post-profile-info h3 {
  font-weight: normal;
  font-size: 1rem;
}

.top-post-profile-info span {
  font-size: 0.8rem;
}

/* Like Button */
.view-btn-like i,
.top-post-btn-action i {
  cursor: pointer;
}
.fa-heart {
  font-size: 1.8rem;
}

/* Bottom Post */
.view-bottom-post {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.view-bottom-post-action {
  display: flex;
  justify-content: space-between;
}

.view-post-action {
  display: flex;
  gap: 10px;
  align-items: center;
}

.view-post-comment {
  align-self: center;
}

.view-post-comment button {
  font-size: 1.3rem;
}

.view-post-comment i {
  margin-right: 5px;
}

.view-post-info span {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.3rem;
}
.view-post-info,
.view-post-comment-input {
  padding: 10px;
}

.view-post-comment-input input {
  padding: 15px;
  border: 1px solid #cccc;
}

/* Modal Comments */
.comments-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 450px;
  max-width: 100%;
  padding: 15px;
  background-color: #ffff;
  border: 1px solid #cccc;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.omments-list {
  position: relative;
}

.comments-user-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 8px;
  border: 1px solid #cccc;
  margin-bottom: 10px;
}

.comment-left-sction {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.comments-user-image img {
  width: 45px;
  height: 45px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #cccc;
  clip-path: circle();
}

.comments-user-info {
  align-self: center;
}

.comments-user-info p {
  font-size: 1.2rem;
}

.comments-user-info h3 {
  font-size: 0.8rem;
}

.comments-user-info span {
  font-size: 0.5rem;
}

.comment-right-section i {
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .top-post-image img {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
}
