.create-post-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.fa-image {
  font-size: 3rem;
}

.create-post-form input[type="text"] {
  padding: 15px 10px;
}
