.profile-container {
  padding: 90px 0;
}
.profile-top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.profile-top-content img {
  width: 130px;
  height: 130px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #cccc;
  clip-path: circle();
}

.profile-name {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  gap: 30px;
  width: 100%;
}

.profile-name strong {
  font-size: 1.3rem;
  display: block;
  margin-top: 5px;
  font-weight: 400;
}

.profile-name button {
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 30px;
  border: 1px solid #dbdbdb;
  padding: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #000;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.profile-other-info {
  display: flex;
  justify-content: left;
  margin-top: 30px;
  gap: 20px;
  font-size: 1.2rem;
}

.profile-other-info strong {
  margin-right: 10px;
}

.profile-post span {
  cursor: pointer;
}

/* Loading Animation */
.loading-animation {
  position: fixed;
  top: 50%;
  left: 50%;
}

/* Profile Bottom Container */
.bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

.posts-content img {
  width: 100%;
  width: 300px;
  height: 250px;
  object-fit: cover;
  object-position: 50% 50%;
  display: block;
  margin: 0 auto;
  border: 1px solid #cccc;
}

.post-empty span {
  width: 100%;
  display: block;
  font-size: 1.2rem;
  text-align: center;
}

/* Edit Modal */
.edit-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 15px;
  text-align: center;
  background-color: #ffff;
  border: 1px solid #cccc;
}

.edit-modal input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 15px 10px;
}

/*Upload Image*/

.upload-image {
  width: 130px;
  height: 130px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #cccc;
  clip-path: circle();
}

label input {
  height: 0;
  opacity: 0;
  width: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

input:focus {
  outline: none;
}

label .fa-camera {
  margin: 20px auto;
  cursor: pointer;
  margin: 10px;
  font-size: 2rem;
}

input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

/* Follow Btn */
.profile-btn .btn-follow {
  background-color: #0095f6;
  font-size: 1.1rem;
  padding: 10px 25px;
  color: #fff;
  border-radius: 4px;
}

.following-user-info,
.follower-user-info {
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.following-user-info img,
.follower-user-info img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #ccc;
  object-fit: cover;
}

@media screen and (max-width: 650px) {
  .profile-top-content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
  }

  .profile-info {
    width: 100%;
  }

  .profile-name {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .profile-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .profile-btn button {
    margin-right: 0;
  }

  .profile-top-content {
    padding: 0;
  }

  .profile-other-info {
    justify-content: center;
    font-size: 1rem;
    gap: 10px;
  }

  .bottom-container {
    display: block;
  }

  .posts-content {
    margin-top: 10px;
  }

  .posts-content img {
    width: 100%;
  }

  .edit-modal {
    width: 100%;
    max-width: 300px;
  }
}
