li {
  list-style: none;
}

.nav-container {
  padding: 15px;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  transition: 0.5s;
  background-color: #22577a;
  color: #fff;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: c;
  padding: 10px;
}

.navbar-menu {
  display: flex;
}

.navbar-menu li {
  margin-left: 20px;
  font-size: 1.2rem;
}

.navbar-menu li a {
  color: #fff;
}
