li {
  list-style: none;
}

.nav-container {
  padding: 15px;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  transition: 0.5s;
  background-color: #1e3163;
  color: #fff;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: c;
  padding: 10px;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu li {
  margin-left: 20px;
  font-size: 1.2rem;
}

.navbar-menu li a {
  color: #fff;
}

.nav-list i {
  margin-right: 5px;
}

.nav-logo img {
  width: 35px;
  height: 35px;
}
