li {
  list-style: none;
}

.nav-container {
  padding: 8px;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  transition: 0.5s;
  background-color: #1e3163;
  color: #fff;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: c;
  padding: 10px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-menu li {
  margin-left: 20px;
  font-size: 1.2rem;
}

.navbar-menu li a {
  color: #fff;
  margin-left: 5px;
}

.nav-logo img {
  width: 40px;
  height: 40px;
}

.search-users {
  cursor: pointer;
}

.search-modal {
  position: fixed;
  top: 380px;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 350px;
  padding: 15px;
  text-align: center;
  background-color: #ffff;
  border: 1px solid #cccc;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.search-user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.search-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-user-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccc;
  clip-path: circle();
  object-fit: cover;
}

.search-user-follow button {
  padding: 10px 15px;
  background-color: #0095f6;
  color: #fff;
}

@media screen and (max-width: 680px) {
  .navbar-menu {
    display: none;
  }

  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    position: absolute;
    top: 65px;
    left: -100%;
    opacity: 1;
    left: 0;
    z-index: 1;
    padding: 50px;
    background-color: #1e3163;
    color: #fff;
    transition: ease-in;
  }

  .navbar-menu.active li {
    margin-bottom: 20px;
    font-size: 1.6rem;
    margin-left: 0px;
  }

  .menu-toggle .bar1,
  .menu-toggle .bar2,
  .menu-toggle .bar3 {
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    cursor: pointer;
  }

  .menu-toggle.active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .menu-toggle.active .bar2 {
    opacity: 0;
  }

  .menu-toggle.active .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .search-modal {
    width: 90%;
    height: auto;
  }
}
