li {
  list-style: none;
}

.nav-container {
  padding: 8px;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  transition: 0.5s;
  background-color: #1e3163;
  color: #fff;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: c;
  padding: 10px;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu li {
  margin-left: 20px;
  font-size: 1.2rem;
}

.navbar-menu li a {
  color: #fff;
}

.nav-logo img {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 680px) {
  .navbar-menu {
    display: none;
  }

  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 65px;
    left: -100%;
    opacity: 1;
    left: 0;
    z-index: 1;
    padding: 50px;
    background-color: #1e3163;
    color: #fff;
    transition: ease-in;
  }

  .navbar-menu.active li {
    margin-bottom: 20px;
    font-size: 1.6rem;
  }

  .menu-toggle .bar1,
  .menu-toggle .bar2,
  .menu-toggle .bar3 {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    cursor: pointer;
  }

  .menu-toggle.active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .menu-toggle.active .bar2 {
    opacity: 0;
  }

  .menu-toggle.active .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}
