.reset-password-content {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.reset-form img {
  display: block;
  margin: 0 auto;
}

.reset-form {
  width: 100%;
  max-width: 550px;
  padding: 20px;
  border: 1px solid #ccc;
}

.message {
  font-size: 1rem;
  background-color: #e05d5d;
  color: #fff;
}

.message p {
  padding: 12px;
}
