.register-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.register-user-form {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  background-color: #ffff;
  padding: 35px 25px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
}

.form-name {
  display: flex;
  gap: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 15px 42px;
  margin-bottom: 10px;
  font-size: 1rem;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
}

.email,
.pass,
.user,
.fname,
.lname {
  position: relative;
}

.fname .fa-user,
.lname .fa-user {
  top: 35px;
}

.fa-envelope,
.fa-lock,
.fa-user {
  position: absolute;
  left: 10px;
  top: 12px;
  font-size: 1.5rem;
}

input[type="submit"] {
  border: none;
  outline: none;
  background-color: #1e3163;
  color: #fff;
  padding: 12px;
  border-radius: 4px;
  font-size: 1.1rem;
  width: 100%;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type="submit"]:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-border-radius: 0;
}

.error {
  background-color: #e05d5d;
  color: #fff;
  margin-bottom: 10px;
}

.error p {
  padding: 12px;
}

.register-logo img {
  display: block;
  margin: 0 auto;
}

.have-account a {
  display: block;
  color: #345b63;
  margin-top: 10px;
}

.have-account a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  label,
  .have-account a,
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 0.9rem;
  }

  .register-user-form {
    margin: 50px 0;
  }

  .form-name {
    display: block;
  }

  .have-account a {
    font-size: 0.8rem;
  }
}
