.login-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.user-login-form {
  max-width: 100%;
  width: 560px;
  margin: 0 auto;
  background-color: #ffff;
  padding: 35px 25px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
}

input {
  border: 1px solid #ccc;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 15px 42px;
  margin-bottom: 10px;
  font-size: 1rem;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
}

.email,
.pass {
  position: relative;
}

.fa-envelope,
.fa-lock {
  position: absolute;
  left: 10px;
  top: 12px;
  font-size: 1.5rem;
}

input[type="submit"],
.btn-reset {
  border: none;
  outline: none;
  background-color: #1e3163;
  color: #fff;
  padding: 12px;
  border-radius: 4px;
  font-size: 1.1rem;
  width: 100%;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type="submit"]:hover {
  opacity: 0.8;
  cursor: pointer;
}

.login-low-content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 1rem;
}

.login-low-content a {
  color: #345b63;
}

.login-low-content a:hover {
  color: #cccc;
}

form span {
  color: red;
}

.error {
  background-color: #e05d5d;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 500;
}

.error p {
  padding: 12px;
}

.login-logo img {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .login-low-content a {
    font-size: 0.9rem;
  }

  .login-low-content a {
    font-size: 0.9rem;
  }
}
