@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

:focus {
  outline: none !important;
}

.bd-container {
  margin: 0 1rem;
  max-width: 1240px;
}

@media screen and (min-width: 1240px) {
  .bd-container {
    margin: 0 auto;
  }
}
