.main-content {
  text-align: center;
  padding-top: 110px;
}
.posts-container {
  max-width: 600px;
  margin: 0 auto 20px auto;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}
/* Post Card */
.top-post-content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #ffffff;
}

.top-post-content .post-user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.top-post-content .post-user-info div h3 {
  font-weight: normal;
  font-size: 1rem;
  text-align: left;
}

.top-post-content .post-user-info div span {
  font-size: 0.7rem;
}

.top-post-content .post-user-info img {
  max-width: 100%;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 1px solid #cccc;
}

.btn-like i {
  cursor: pointer;
  font-size: 1.3rem;
  margin-right: 5px;
}

i:focus,
i:active {
  outline: none;
}

.fa-heart {
  color: red;
}

.post-action-btn {
  display: block;
  align-self: center;
}

.post-action-btn button {
  font-size: 1rem;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.post-action-btn button button:active,
.post-action-btn button button:focus {
  border: none;
}

.profile-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ccc, #ccc, #ccc);
}

.post-image img {
  width: 100%;
}

/* Bottom post */
.bottom-post-content {
  padding: 15px;
}

.bottom-post-content button {
  font-size: 1.5rem;
}

.botton-post-action {
  display: flex;
  justify-content: space-between;
}

.view-comments {
  font-size: 0.9rem;
  align-self: center;
}

.bottom-post-info {
  margin-top: 10px;
}

.bottom-user-post {
  display: flex;
  gap: 10px;
}

.bottom-user-post span {
  font-weight: 500;
}

.post-action-modal {
  display: none;
}

.post-action-modal.active {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 280px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.post-action-button {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.post-action-button button {
  display: block;
  width: 100%;
}

.pagination-animation {
  text-align: center;
}

/* Modal Here*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding: 10px;
  text-align: center;
  background-color: #ffff;
  border: 1px solid #cccc;
}

.modal button {
  margin: 10px;
  font-size: 1.1rem;
}

.modal button:hover {
  opacity: 0.6;
}
