.main-content {
  text-align: center;
  padding-top: 110px;
}
.posts-container {
  max-width: 550px;
  margin: 0 auto 20px auto;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.contrainer {
  display: flex;
  justify-content: space-evenly;
}
/* Post Card */
.top-post-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.top-post-content .post-user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.top-post-content .post-user-info div h3 {
  font-weight: normal;
  font-size: 1rem;
  text-align: left;
}

.top-post-content .post-user-info div span {
  font-size: 0.7rem;
  float: left;
}

.top-post-content .post-user-info img {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #cccc;
  clip-path: circle();
}

.btn-like i {
  cursor: pointer;
  font-size: 1.3rem;
  margin-right: 5px;
}

i:focus,
i:active {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fa-heart {
  color: red;
}

.post-action-btn {
  display: block;
  align-self: center;
}

.post-action-btn button {
  font-size: 1rem;
  color: #000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: #000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.post-action-btn button button:active,
.post-action-btn button button:focus {
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.profile-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ccc, #ccc, #ccc);
}

.post-image img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: 50% 50%;
}

/* Bottom post */
.bottom-post-content {
  padding: 15px;
}

.bottom-post-content button {
  font-size: 1.5rem;
}

.botton-post-action {
  display: flex;
  justify-content: space-between;
}

.view-comments {
  font-size: 1.3rem;
  align-self: center;
}

.view-comments i {
  margin-right: 5px;
}

.bottom-post-info {
  margin-top: 10px;
}

.bottom-user-post {
  display: flex;
  gap: 10px;
}

.bottom-user-post span {
  font-weight: 500;
}

.pagination-animation {
  text-align: center;
}

/* Modal Here*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding: 10px;
  text-align: center;
  background-color: #ffff;
  border: 1px solid #cccc;
}

.modal button {
  margin: 10px;
  font-size: 1.1rem;
}

.modal button:hover {
  opacity: 0.6;
}

.modal button i {
  margin-right: 5px;
}

.user-list-container {
  border: 1px solid #ccc;
  padding: 15px;
}

.main-post-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-post-container .post-list-container {
  width: 70%;
}

.main-post-container .user-list-container {
  width: 30%;
  height: 450px;
}

@media screen and (max-width: 680px) {
  .post-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .top-post-content .post-user-info img {
    width: 35px;
    height: 35px;
  }

  .top-post-content .post-user-info div h3 {
    font-size: 0.9rem;
  }

  .top-post-content .post-user-info div span {
    font-size: 0.6;
  }

  .bottom-post-content {
    padding: 8px;
  }

  .botton-post-action .btn-like span {
    font-size: 0.8rem;
  }

  .botton-post-action .view-comments span {
    font-size: 0.9rem;
  }

  .bottom-post-info {
    margin-top: 5px;
  }
}
