.edit-post-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.edit-post-form {
  padding: 15px;
}

.edit-post-form input[type="text"] {
  width: 100%;
  padding: 15px;
}
